body {
    min-width: 100vw;
    min-height: 100vh;
}
.attribution {
    position: absolute;
    bottom: 0  ;
    left: 40%;
}
#Day {
    width: 4rem;
}
#Month {
    width: 4rem;
}
#Year {
    width: 4rem;
}