body {
    min-width: 100vw;
    min-height: 100vh;
}
.attribution {
    position: absolute;
    bottom: 0  ;
    left: 40%;
}
#Day {
    width: 4rem;
}
#Month {
    width: 4rem;
}
#Year {
    width: 4rem;
}
#item {
    display: grid;
    align-items: center;
    padding: 1rem;
}
#item span {
    padding-bottom: 1rem;
}
#input {
    display: flex;
    margin: auto;
    max-width: fit-content;
}
#output {
    display: grid;
    max-width: fit-content;
    margin: auto;
}
#button {
    background-color: hsl(259, 100%, 65%);
    background-image: url(./assets/images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    opacity: 0.9;
    margin: auto;
    cursor: pointer;
}
#button:hover {
    opacity: 1;
}
#button:active {
    background-color: hsl(0, 0%, 8%);
}